.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;

    .login-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        .Login-header-container {
            text-align: center;
            margin-bottom: 20px;

            .Login-header {
                font-size: 28px;
                font-weight: bold;
                color: #1877f2;
            }

            .Login-subheader {
                font-size: 16px;
                color: #65676b;
            }
        }


        .login-section {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .header-text {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .login-logo {
                display: flex;
                align-items: center;
                flex-direction: column;

                img {
                    width: 70px;
                    height: 70px;
                }
            }

            .form-controls {
                .input-field {
                    margin-bottom: 20px;

                    input {
                        width: calc(100% - 22px);
                        /* Adjusted width to account for padding */
                        padding: 10px;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        font-size: 16px;
                    }

                    .password-container {
                        position: relative;
                    }
                    
                    .eye-icon {
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                    
                    .icon-eye {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23000000'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 4C7.03 4 2.98 7.76 2.29 12c.32 2.32 1.36 4.39 2.86 6.02a1 1 0 0 0 1.45.06l1.3-1.3A6.947 6.947 0 0 0 12 18c3.86 0 7-3.14 7-7s-3.14-7-7-7zm0 10c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                    }
                }
            }

            .submit-button {
                width: 100%;
                padding: 10px;
                background-color: #1877f2;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;

                &:hover {
                    background-color: #0e63af;
                }
            }

            .reg-container {
                margin-top: 20px;
                font-size: 14px;

                a {
                    color: #1877f2;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .register-here {
                    margin-right: 10px;
                }

                .forgot-password {
                    margin-left: 10px;
                }
            }
        }
    }
}


@media (max-width: 768px) {
    .login-section {
        padding: 15px;
    }

    .Login-header {
        font-size: 1.8rem;
    }

    .Login-subheader {
        font-size: 0.9rem;
    }

    .header-text {
        font-size: 1.3rem;
    }
}