
.text-red {
    color: red;
}

.register-container {
    background: #fff;
    border-radius:12px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    h3 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        .input-field {
            margin-top: 10px;
            margin-bottom: 10px;
            position: relative;
            /* Added position relative */

            input {
                width: calc(100% - 20px);
                /* Adjusted width */
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                font-size: 16px;
            }
        }

        .submit-button {
            padding: 10px;
            background-color: #4f46e5;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 15px;

            &:hover {
                background-color: #4338ca;
            }
        }
    }

    .login-link {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;

        a {
            color: #4f46e5;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}